body {
    margin: 0;
    color: #D5D4D8;
    background: #222222;
    font-family: "Karla", serif;
}

#main {
    width: 70%;
    max-width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 50px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

#password-title {
    color: #ffffff;
    
}

.password {
    color: #4ADF86;
}

#generate-password {
    border-bottom: 2px solid #2F3E53;
    padding-bottom: 50px;
    margin-bottom: 35px;
}



#password-btn{
    background: #10B981;
    padding: 9px 15px 9px 15px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 40px
}

#password-btn:hover{
    background: darkcyan;
    box-shadow: 0 0 10px darkseagreen;
}

#results {
    display: flex;
    justify-content: space-between;
    
}

#password-result1, #password-result2 {
    background: #273549;
    width: 200px;
    border-radius: 5px;
    height: 39px;
    line-height: 30px;
    font-size: 15px;
    color: #4ADF86;
    text-align: center;
    
}

